@font-face {
    font-family: 'Coco Gothic Regular';
    src: url('../fonts/Coco-Gothic-Regular-trial.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Coco Gothic Bold';
    src: url('../fonts/Coco-Gothic-Bold-trial.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Coco Gothic Light';
    src: url('../fonts/Coco-Gothic-Light-trial.ttf') format('truetype');
    font-weight: 300;
}

body {
    /* Colors */
    --primary-bordeaux: #520405;
    --primary-bone: #EEEDEB;
    
    --secundary-bordeaux: #520405;
    --secundary-beige: #C9C3B7;
    --secundary-cream: #EFEFE6;

    --neutral-white: #FFFFFF;
    --neutral-black: #000000;
    --neutral-browngreen: #716559;
    --neutral-grey: #D9D9D9;

    /* Font-family */
    --font-coco-gothic-regular: 'Coco Gothic Regular', sans-serif;
    --font-coco-gothic-bold: 'Coco Gothic Bold', sans-serif;
    --font-coco-gothic-light: 'Coco Gothic Light', sans-serif;
}