/* @font-face {
    font-family: 'Coco Gothic Regular';
    src: url('../fonts/Coco-Gothic-Regular-trial.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Coco Gothic Bold';
    src: url('../fonts/Coco-Gothic-Bold-trial.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Coco Gothic Light';
    src: url('../fonts/Coco-Gothic-Light-trial.ttf') format('truetype');
    font-weight: 300;
} */


@font-face {
    font-family: 'Inter Light';
    src: url('../fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Inter Regular';
    src: url('../fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Inter Medium';
    src: url('../fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Inter semiBold';
    src: url('../fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Inter Bold';
    src: url('../fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: 'Anastasia Regular';
    src: url('../fonts/Anastasia-Regular.ttf') format('truetype');
}

body {
    /* Colors */
    --primary-bordeaux: #520405;
    --primary-bone: #EEEDEB;

    --secundary-bordeaux: #520405;
    --secundary-beige: #C9C3B7;
    --secundary-cream: #EFEFE6;

    --neutral-white: #FFFFFF;
    --neutral-black: #000000;
    --neutral-browngreen: #716559;
    --neutral-grey: #D9D9D9;

    /* Font-family */
    /* --font-coco-gothic-regular: 'Coco Gothic Regular', sans-serif;
    --font-coco-gothic-bold: 'Coco Gothic Bold', sans-serif;
    --font-coco-gothic-light: 'Coco Gothic Light', sans-serif;
    --font-coco-gothic: 'CocoGothic', sans-serif; */
    --font-inter-light: 'Inter Light', sans-serif;
    --font-inter-regular: 'Inter Regular', sans-serif;
    --font-inter-medium: 'Inter Medium', sans-serif;
    --font-inter-semiBold: 'Inter SemiBold', sans-serif;
    --font-anastasia-regular: 'Anastasia Regular', sans-serif;
    --font-anastasia-italic: 'Anastasia', cursive;

    /* Font sizes */
    --font-size-xxl: 3rem;      /* 48px */
    --font-size-xl: 2.488rem;   /* 39.81px */
    --font-size-l: 2.074rem;    /* 33.18px */
    --font-size-m: 1.728rem;    /* 27.65px */
    --font-size-s: 1.44rem;     /* 23.04px */
    --font-size-xs: 1.2rem;     /* 19.02px */
    --font-size-base: 1rem;     /* 16px */
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}