<ul>
    <li>
        <h2>Web development</h2>
        <img src="/src/assets/icon-bordeaux.svg" alt="" width="30" height="30">
    </li>

    <li>
        <h2>Web design</h2>
        <img src="/src/assets/icon-bordeaux.svg" alt="" width="30" height="30">

    </li>

    <li>
        <h2>Ui/Ux design</h2>
        <img src="/src/assets/icon-bordeaux.svg" alt="" width="30" height="30">

    </li>

    <li>
        <h2>Branding</h2>
        <img src="/src/assets/icon-bordeaux.svg" alt="" width="30" height="30">

    </li>
        
    <li>
        <h2>Web development</h2>
        <img src="/src/assets/icon-bordeaux.svg" alt="" width="30" height="30">

    </li>

    <li>
        <h2>Web design</h2>
        <img src="/src/assets/icon-bordeaux.svg" alt="" width="30" height="30">
    </li>

    <li>
        <h2>Ui/Ux design</h2>
        <img src="/src/assets/icon-bordeaux.svg" alt="" width="30" height="30">

    </li>

    <li>
        <h2>Branding</h2>
        <img src="/src/assets/icon-bordeaux.svg" alt="" width="30" height="30">
    </li>

    <li>
        <h2>Web development</h2>
        <img src="/src/assets/icon-bordeaux.svg" alt="" width="30" height="30">
    </li>

    <li>
        <h2>Web design</h2>
        <img src="/src/assets/icon-bordeaux.svg" alt="" width="30" height="30">

    </li>

    <li>
        <h2>Ui/Ux design</h2>
        <img src="/src/assets/icon-bordeaux.svg" alt="" width="30" height="30">

    </li>

    <li>
        <h2>Branding</h2>
        <img src="/src/assets/icon-bordeaux.svg" alt="" width="30" height="30">
    </li>
</ul>

<style>
    body {
        overflow-x: hidden;
    }

    ul {
        display: flex;
        column-gap: 2em;
        list-style: none;
    }

    li {
        display: flex;
        flex-direction: row;
        align-items: center;
        min-width: 10em;
    }

    h2 {
        font-size: var(--font-size-xl);
        font-family: var(--font-anastasia-italic);
        font-weight: 400;
        color: var(--primary-bordeaux);
        padding-right: .5em;
    }
</style>