<ul>
    <li>
        <h2>Web development</h2>
        <img src="/src/assets/icon-bordeaux.svg" alt="" width="30" height="30">
    </li>

    <li>
        <h2>Web design</h2>
        <img src="/src/assets/icon-bordeaux.svg" alt="" width="30" height="30">

    </li>

    <li>
        <h2>Ui/Ux design</h2>
        <img src="/src/assets/icon-bordeaux.svg" alt="" width="30" height="30">

    </li>

    <li>
        <h2>Branding</h2>
        <img src="/src/assets/icon-bordeaux.svg" alt="" width="30" height="30">

    </li>
        
    <li>
        <h2>Web development</h2>
        <img src="/src/assets/icon-bordeaux.svg" alt="" width="30" height="30">

    </li>

    <li>
        <h2>Web design</h2>
        <img src="/src/assets/icon-bordeaux.svg" alt="" width="30" height="30">
    </li>

    <li>
        <h2>Ui/Ux design</h2>
        <img src="/src/assets/icon-bordeaux.svg" alt="" width="30" height="30">

    </li>

    <li>
        <h2>Branding</h2>
        <img src="/src/assets/icon-bordeaux.svg" alt="" width="30" height="30">
    </li>

    <li>
        <h2>Web development</h2>
        <img src="/src/assets/icon-bordeaux.svg" alt="" width="30" height="30">
    </li>

    <li>
        <h2>Web design</h2>
        <img src="/src/assets/icon-bordeaux.svg" alt="" width="30" height="30">

    </li>

    <li>
        <h2>Ui/Ux design</h2>
        <img src="/src/assets/icon-bordeaux.svg" alt="" width="30" height="30">

    </li>

    <li>
        <h2>Branding</h2>
        <img src="/src/assets/icon-bordeaux.svg" alt="" width="30" height="30">
    </li>
</ul>
