
<div class="cursor">
    <svg width="60" height="50" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M21.9077 10C16.9077 11.5 12.4077 20 11.9077 20C11.4077 20 -5.59229 10 1.90772 10C9.40772 10 6.38487 0 11.9077 0C17.4306 0 26.9077 8.5 21.9077 10Z" fill="#520405"/>
    </svg>
  </div>
