<footer>
    <ul>
        <li>
            <a href="#">our Work</a>
        </li>
        
        <li>
            <a href="#">contact</a>
        </li>
        
        <li>
            <a href="#">work ethic</a>
        </li>
        
        <li>
            <a href="#">terms & conditions</a>
        </li>
    </ul>

    <ul>
        <li>
            <p>copyright © 2026 Fazael</p>
        </li>

        <li>
            <a href="mailto:fazael.contact@gmail.com">fazael.contact@gmail.com</a>
        </li>

        <li>
            <a href="#top">back to top</a></li>
    </ul>
</footer>