<footer>
    <ul>
        <li><a href="#">our Work</a></li>
        <li><a href="#">contact</a></li>
        <li><a href="#">work ethic</a></li>
        <li><a href="#">terms & conditions</a></li>
    </ul>
</footer>