<section class="hero">
    <h1>
    We build high performing
        <span class="script">Websites</span>
            <br />
                and make your vision come into reality
    </h1>
</section>

<style>
  
    .hero {
    min-height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    }
  
    .hero-content {
    max-width: 20em;
    }

    .hero h1 {
    line-height: 1.5;
    font-weight: 400;
    font-family: var(--font-coco-gothic);
    color: var(--primary-bordeaux);
    }

    .script {
    font-family: var(--font-anastasia-italic);
    font-size: 3em;
    }

</style>
