<section class="work">
    <header class="work-header">
        <h2 class="work-title">OUR WORK</h2>
    </header>

    <ul class="work-gallery">
        <li class="work-item">
            <figure class="work-figure">
                <img src="/images/paraosaigpost.png" alt="Project" />
                <figcaption class="overlay">
                    <span class="overlay-text">View Project</span>
                </figcaption>
            </figure>
        </li>

        <li class="work-item">
            <figure class="work-figure">
                <img src="/images/Ahdafi.png" alt="Project" />
                <figcaption class="overlay">
                    <span class="overlay-text">View Project</span>
                </figcaption>
            </figure>
        </li>

        <li class="work-item">
            <figure class="work-figure">
                <img src="/images/Webdesign.png" alt="Project" />
                <figcaption class="overlay">
                    <span class="overlay-text">View Project</span>
                </figcaption>
            </figure>
        </li>

        <li class="work-item">
            <figure class="work-figure">
                <img src="/images/Ahdafi.png" alt="Project" />
                <figcaption class="overlay">
                    <span class="overlay-text">View Project</span>
                </figcaption>
            </figure>
        </li>

        <li class="work-item">
            <figure class="work-figure">
                <img src="/images/Webdesign.png" alt="Project" />
                <figcaption class="overlay">
                    <span class="overlay-text">View Project</span>
                </figcaption>
            </figure>
        </li>

        <li class="work-item">
            <figure class="work-figure">
                <img src="/images/paraosaigpost.png" alt="Project" />
                <figcaption class="overlay">
                    <span class="overlay-text">View Project</span>
                </figcaption>
            </figure>
        </li>
    </ul>
</section>
